// Variables

// Primary
$cyan:  hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$light-cyan:  hsla(180, 66%, 49%, 0.616);

// Secondary
$red:  hsl(0, 87%, 67%);

// Neutral
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$dark-blue: hsl(255, 11%, 22%);
$dark-violet: hsl(260, 8%, 14%);


.button {
    border-radius: 20px;
    padding: 8px 13px;
    margin: 10px;
    color: $grayish-violet;
    color: white;
    background-color: $cyan;
    &:hover {
        background-color: $light-cyan;
    }
    
}
// HEADER

.desktop-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 125px;
}

.desktop-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
   
    p {
        font-weight: 700;
        color: $grayish-violet;
        margin: 20px;
        &:hover {
            color: $dark-blue;
        }
    }
}

.desktop-nav-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

// LANDING
.landing {
    display: flex;
    justify-content: space-between;

}

.desktop-landing-info {
    display: flex;
    flex-direction: column;
    margin: 20px 125px;
    align-items: center;

    h1 {
        font-size: 70px;
        font-weight: 900;
        color: $dark-violet;
        line-height: 3.4rem;
    }
    .desktop-landing-txt {
        width: 100%;
        font-size: 25px;
        color: $grayish-violet;
        
    }
}

.link-bar-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 5%;
}

.link-bar {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-around;
    background-image: url('./images/bg-shorten-desktop.svg');
    background-color: $dark-blue;
    padding: 20px;
    border-radius: 10px;
    z-index: -1;

    input {
        width: 70%;
        height: 70%;
        border-radius: 10px;
    }
}

.input-button {
    background-color: $cyan;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

// STATS
.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $gray;
}

.desktop-stats-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.desktop-stats-bottom {
    display: flex;
}

.stat-container {
    background-color: white;

    h2 {
        color: $dark-blue;
        font-weight: 700;
    }
    p {
        color: $grayish-violet;
        font-size: 18px;;
    }
}